svg#main_graph {
	width:100% !important;
	height:100% !important;
	border:1px solid silver !important;
}

div#shiny-notification-panel {
	width:500px;
	height:200px;
	font-size:30px;
	top:50%;
	right:50%;
}